<form class="detailed-food"
      novalidate
      name="detailedFoodForm">
    <div class="row">
        <div class="col-12"
             ng-if="shoudFoodEditable()">
            <div class="form-group">
                <h3>{{detailedFood.name}}</h3>
            </div>
        </div>

        <div ng-repeat="foodPhoto in foodPhotos track by $index"
             class="col-sm-4 col-xs-12">
            <div class="food-carousel-item form-group position-relative">
                <div class="food-photo-actions position-absolute t-0 r-0 b-0 l-0 d-flex justify-content-center align-items-end pb-50px">
                    <button class="btn btn-info"
                            ng-click="clickReplaceFoodPhoto($index)">
                        <span class="fa fa-upload"></span>
                    </button>
                </div>
                <img class="img-fluid food-photo"
                     ng-src="{{foodPhoto.preview}}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-dark food-specs">
                <tbody>
                <tr ng-if="editorMode != editorModes.view">
                    <th scope="row">{{'TITLE_NAME' | translate}}</th>
                    <td>
                        <input class="form-control"
                               name="name"
                               ng-model="detailedFood.name"
                               ng-required="true">
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{'TITLE_PRICE' | translate}}</th>
                    <td ng-switch="shouldPromotionValid(detailedFood.promotion)">

                        <div ng-if="editorMode == editorModes.view">
                            <div ng-switch-when="true">
                                <span class="font-weight-bold font-xl">{{initialDetailedFood.promotion.discountPrice}}</span>
                                <span> </span>
                                <span class="line-through badge badge-secondary">{{initialDetailedFood.price}}</span>
                            </div>

                            <div ng-switch-default="">
                                <span>{{detailedFood.price}}</span>
                            </div>
                        </div>

                        <div ng-if="editorMode != editorModes.view">
                            <input class="form-control"
                                   name="price"
                                   type="number"
                                   ng-model="detailedFood.price"
                                   min="0">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{'TITLE_DESCRIPTION' | translate}}</th>
                    <td>
                        <div ng-if="editorMode == editorModes.view">
                            {{initialDetailedFood.description}}
                        </div>

                        <div ng-if="editorMode != editorModes.view">
                            <textarea name="description"
                                      ng-model="detailedFood.description"
                                      class="form-control"
                                      rows="5"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{'TITLE_INGREDIENT' | translate}}</th>
                    <td>
                        <div ng-if="editorMode == editorModes.view">
                            {{initialDetailedFood.ingredient}}
                        </div>

                        <div ng-if="editorMode != editorModes.view">
                            <textarea name="ingredient"
                                      ng-model="detailedFood.ingredient"
                                      class="form-control"
                                      rows="5"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{'TITLE_TYPES' | translate}}</th>
                    <td>
                        <div ng-if="editorMode == editorModes.view">
                            <span ng-repeat="foodType in initialDetailedFood.types"
                                  class="badge badge-info mr-5px">
                                {{loadFoodTypeTitle(foodType) | translate}}
                            </span>
                        </div>

                        <div ng-if="editorMode != editorModes.view"
                             class="d-flex align-items-start">

                            <div class="btn-group btn-group-sm form-group mr-5px"
                                 role="group"
                                 ng-repeat="foodType in detailedFood.types track by $index">
                                <button class="btn btn-outline-info" disabled>
                                    {{loadFoodTypeTitle(foodType) | translate}}
                                </button>
                                <button class="btn btn-danger"
                                        ng-click="clickDeleteFoodType(foodType)">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </div>

                            <input hidden ng-model="detailedFood.types" name="types">

                            <button class="btn btn-primary"
                                    ng-click="clickAddFoodType()">
                                <span class="fa fa-plus"></span>
                            </button>
                        </div>

                    </td>
                </tr>
                <tr>
                    <th scope="row">{{'TITLE_STATUS' | translate}}</th>
                    <td>
                        <div ng-if="editorMode == editorModes.view">
                            <span class="badge badge-info">
                                {{loadFoodStatusTitle(detailedFood.status) | translate}}
                            </span>
                        </div>

                        <div ng-if="editorMode != editorModes.view">
                            <select name="status"
                                    class="form-control"
                                    ng-model="detailedFood.status"
                                    ng-options="availableFoodStatus.value as availableFoodStatus.key | translate for availableFoodStatus in availableFoodStatuses"></select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{'TITLE_CATEGORY' | translate}}</th>
                    <td>
                        <div ng-if="editorMode == editorModes.view">
                            <span class="badge badge-info mr-5px">
                                {{loadFoodCategoryTitle(detailedFood.category) | translate}}
                            </span>
                        </div>

                        <div ng-if="editorMode != editorModes.view">
                            <select name="category"
                                    ng-options="availableFoodCategory.value as availableFoodCategory.key | translate for availableFoodCategory in availableFoodCategories"
                                    ng-model="detailedFood.category"
                                    class="form-control"></select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{'TITLE_ASSIGNED_LOCATIONS' | translate}}</th>
                    <td>
                        <div ng-if="editorMode == editorModes.view">
                             <span class="badge badge-info mr-5px"
                                   ng-repeat="assignedLocation in detailedFood.assignedLocations">
                                {{idToStates[assignedLocation.stateId].name}} - {{idToCities[assignedLocation.cityId].name}}
                             </span>
                        </div>

                        <div ng-if="editorMode != editorModes.view"
                             class="d-flex align-items-start flex-wrap">
                            <div class="btn-group btn-group-sm form-group mr-5px"
                                 role="group"
                                 ng-repeat="assignedLocation in detailedFood.assignedLocations">

                                <button class="btn btn-outline-info" disabled>
                                    {{idToStates[assignedLocation.stateId].name}} - {{idToCities[assignedLocation.cityId].name}}
                                </button>
                                <button class="btn btn-danger"
                                        ng-click="clickDeleteAssignedLocation(assignedLocation)">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </div>

                            <input hidden name="assignedLocations"
                                   ng-model="detailedFood.assignedLocations[0].cityId"
                                   ng-required="true">

                            <button class="btn btn-primary"
                                    ng-click="clickAddAssignedLocation()">
                                <span class="fa fa-plus"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{'TITLE_MINIMUM_ORDER_QUANTITY' | translate}}</th>
                    <td>
                        <div ng-if="editorMode == editorModes.view">
                            {{initialDetailedFood.minimumOrderQuantity}}
                        </div>

                        <div ng-if="editorMode != editorModes.view">
                            <input name="minimumOrderQuantity"
                                   class="form-control"
                                   ng-model="detailedFood.minimumOrderQuantity"
                                   min="0"
                                   type="number">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{'TITLE_PROMOTION' | translate}}</th>
                    <td>
                        <div ng-if="editorMode == editorModes.view"
                             ng-switch="shouldPromotionValid(initialDetailedFood.promotion)">
                            <span class="badge badge-success"
                                  ng-switch-when="true">{{'TITLE_IN_PROMOTION' | translate}}</span>

                            <span style="text-decoration: line-through;"
                                  class="text-danger"
                                  ng-switch-default>{{'MSG_NO_PROMOTION_AVAILABLE' | translate}}</span>
                        </div>

                        <div ng-if="editorMode !== editorModes.view">

                            <div class="form-group">
                                <select name="shouldPromotionEnabled"
                                        ng-model="detailedFood.promotion.status"
                                        ng-options="availableFoodPromotionMode.value as availableFoodPromotionMode.key |translate for availableFoodPromotionMode in availableFoodPromotionModes"
                                        class="form-control"></select>
                            </div>

                            <div class="row"
                                 ng-if="detailedFood.promotion.status == promotionStatuses.inPromotion">
                                <div class="col-sm-4">
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-primary" type="button"
                                                    ng-click="clickSelectPromotionStartDate()">
                                                {{'TITLE_FROM' | translate}}
                                            </button>
                                        </div>
                                        <input type="text" class="form-control" readonly
                                               value="{{detailedFood.promotion.startTime / 1000 | amFromUnix | amDateFormat:'DD/MM/YYYY HH:mm'}}">

                                        <input hidden
                                               ng-model="detailedFood.promotion.startTime"
                                               ng-required="detailedFood.promotion.status == promotionStatuses.inPromotion"
                                               name="promotionStartTime">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-primary"
                                                    type="button"
                                                    ng-disabled="detailedFoodForm.promotionStartTime.$invalid"
                                                    ng-click="clickSelectPromotionEndDate()">
                                                {{'TITLE_TO' | translate}}
                                            </button>
                                        </div>
                                        <input type="text" class="form-control"
                                               readonly
                                               ng-disabled="detailedFoodForm.promotionStartTime.$invalid"
                                               value="{{detailedFood.promotion.endTime / 1000 | amFromUnix | amDateFormat:'DD/MM/YYYY HH:mm'}}">

                                        <input hidden
                                               ng-model="detailedFood.promotion.endTime"
                                               ng-required="detailedFood.promotion.status == promotionStatuses.inPromotion"
                                               name="promotionEndTime">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text">
                                                {{'TITLE_DISCOUNT_PRICE' | translate}}
                                            </label>
                                        </div>
                                        <input type="number"
                                               class="form-control"
                                               name="discountPrice"
                                               ng-model="detailedFood.promotion.discountPrice"
                                               min="0"
                                               max="{{initialDetailedFood.price}}">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="toolbar right bottom">
        <div class="text-right">

            <button class="btn btn-outline-primary"
                    ng-if="shouldFoodAddable()"
                    ng-disabled="detailedFoodForm.$invalid || detailedFoodForm.$pristine"
                    ng-click="clickSubmitFoodAdd()">
                <i class="fa fa-check"></i>
            </button>

            <button class="btn btn-outline-primary"
                    ng-if="shouldFoodEditable() && editorMode == editorModes.view"
                    ng-click="clickEnableEditMode()">
                <i class="fa fa-pencil"></i>
            </button>

            <button class="btn btn-outline-primary"
                    ng-if="shouldFoodEditable() && editorMode == editorModes.edit"
                    ng-click="clickSubmitFoodEdit()"
                    ng-disabled="detailedFoodForm.$invalid || detailedFoodForm.$pristine">
                <i class="fa fa-check"></i>
            </button>

            <button class="btn btn-outline-warning"
                    ng-if="shouldFoodEditable() && editorMode == editorModes.edit"
                    ng-click="clickCancelFoodEdit()">
                <i class="fa fa-times"></i>
            </button>

            <button class="btn btn-outline-secondary"
                    ng-click="clickReloadCities(1)">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
    </div>
</form>
