.food-carousel-item .food-photo-actions {
  visibility: collapse;
}

.food-carousel-item:not(:disabled):not(.disabled):hover .food-photo-actions {
  visibility: visible;
}

table.food-specs {
  tbody tr th:first-child {
    width: 250px;
  }
}
