<div class="card-header">
    <h3 class="card-title">{{'TITLE_CITIES_FILTER' | translate}}</h3>
</div>
<div class="card-body">

    <div class="row">

        <!--State name-->
        <div class="col-md-12">
            <div class="form-group">
                <b>{{'TITLE_STATE_NAME' | translate}}</b>
                <input type="text"
                       ng-model="asyncSelected"
                       uib-typeahead="address for address in getLocation($viewValue)"
                       class="form-control">
            </div>
        </div>
    </div>

</div>
<div class="card-footer">
    <div class="text-right">
        <button class="btn btn-outline-primary"
                ng-click="ngOnCityMasterPageLoaded()">
            {{'TITLE_RELOAD' | translate}}
        </button>
    </div>
</div>
