<div class="card-header">
    <h3 class="card-title">{{'TITLE_CITIES_FILTER' | translate}}</h3>
</div>
<div class="card-body">

    <div class="row">

        <!--State name-->
        <div class="col-md-12">
            <div class="form-group">
                <b>{{'TITLE_STATE_NAME' | translate}}</b>
                <select class="form-control"
                        ng-options="availableState.id as availableState.name for availableState in availableStates"
                        ng-model="stateId">
                </select>
            </div>
        </div>
    </div>

</div>
<div class="card-footer">
    <div class="text-right">
        <button class="btn btn-outline-primary">
            {{'TITLE_RELOAD' | translate}}
        </button>

        <button class="btn btn-outline-secondary"
                ng-click="closeModal()">
            {{'TITLE_CANCEL' | translate}}
        </button>
    </div>
</div>
