<div class="modal-header">
    <h4 class="modal-title"
        ng-if="modalOptions.htmlTitle && modalOptions.htmlTitle.length"
        ng-bind-html="modalOptions.htmlTitle">
    </h4>
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            ng-click="clickDismissModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div style="max-width: 100%">
        <img id="{{modalId}}"
             src="/assets/images/avatar.png"
             style="display:block; max-width: 100%">
    </div>
</div>
<div class="modal-footer justify-content-center">
    <button class="btn btn-outline-primary"
            ng-click="clickOk()">
        {{'TITLE_OK' | translate}}
    </button>
    <button class="btn btn-outline-secondary"
            ng-click="clickDismissModal()">
        {{'TITLE_CANCEL' | translate}}
    </button>
</div>
