<form class="detailed-mail-template"
      novalidate
      ng-submit="$event.preventDefault()"
      name="detailedMailTemplateForm">

    <div class="row">
        <div class="col-12"
             ng-if="shouldMailTemplateEditable()">
            <div class="form-group">
                <h3>{{initialDetailedMailTemplate.name}}</h3>
            </div>
        </div>
    </div>

    <div class="row"
         ng-if="editorMode != editorModes.view">
        <div class="col-sm-3">
            <b>{{'TITLE_NAME' | translate}}</b>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                <select class="form-control"
                        name="name"
                        ng-model="detailedMailTemplate.name"
                        ng-disabled="shouldAvailableMailTemplateNameDisabled()"
                        ng-options="availableMailTemplateName as availableMailTemplateName for availableMailTemplateName in availableMailTemplateNames"
                        ng-required="true"></select>
                </td>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <b>{{'TITLE_SUBJECT' | translate}}</b>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                <input class="form-control"
                       name="subject"
                       ng-required="editorMode != editorModes.view"
                       ng-disabled="editorMode == editorModes.view"
                       ng-model="detailedMailTemplate.subject"
                       min="0">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <b>{{'TITLE_DESCRIPTION' | translate}}</b>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                <textarea class="form-control"
                          name="description"
                          ng-disabled="editorMode == editorModes.view"
                          ng-model="detailedMailTemplate.description"
                          rows="5"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <b>{{'TITLE_CONTENT' | translate}}</b>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                <uib-tabset justified="true">
                    <uib-tab index="0" heading="{{'TITLE_EDITOR' | translate}}">

                        <div class="form-group">
                            <textarea class="form-control"
                                      name="content"
                                      ui-tinymce="{'height': '500px'}"
                                      ng-required="editorMode != editorModes.view"
                                      ng-disabled="editorMode == editorModes.view"
                                      ng-model="detailedMailTemplate.content"></textarea>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary"
                                    ng-click="clickImportContent()">
                                <span class="fa fa-upload"></span> <span>{{'TITLE_IMPORT_HTML_CONTENT' | translate}}</span>
                            </button>
                        </div>

                    </uib-tab>
                    <uib-tab index="1" heading="{{'TITLE_PREVIEW' | translate}}">
                        <div class="form-group" ng-bind-html="detailedMailTemplate.content">
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <b>{{'TITLE_AVAILABILITY' | translate}}</b>
        </div>
        <div class="col-sm-9">
            <div class="form-group">
                <select name="availability"
                        class="form-control"
                        ng-required="editorMode != editorModes.view"
                        ng-disabled="editorMode == editorModes.view"
                        ng-model="detailedMailTemplate.availability"
                        ng-options="availableAvailability.value as availableAvailability.key | translate for availableAvailability in availableAvailabilities"></select>
            </div>
        </div>
    </div>

    <div class="toolbar right bottom">
        <div class="text-right">

            <button class="btn btn-outline-primary"
                    ng-if="shouldMailTemplateAddable()"
                    ng-disabled="detailedMailTemplateForm.$invalid || detailedMailTemplateForm.$pristine"
                    ng-click="clickSubmitMailTemplateAdd()">
                <i class="fa fa-check"></i>
            </button>

            <button class="btn btn-outline-primary"
                    ng-if="shouldMailTemplateEditable() && editorMode == editorModes.edit"
                    ng-click="clickSubmitMailTemplateEdit()"
                    ng-disabled="detailedMailTemplateForm.$invalid || detailedMailTemplateForm.$pristine">
                <i class="fa fa-check"></i>
            </button>

            <button class="btn btn-outline-warning"
                    ng-if="shouldFoodEditable() && editorMode == editorModes.edit"
                    ng-click="clickCancelFoodEdit()">
                <i class="fa fa-times"></i>
            </button>

            <button class="btn btn-outline-secondary"
                    ng-click="clickReloadModel()">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
    </div>
</form>
