<form class="card"
      novalidate
      name="faqForm">
    <div class="card-header">
        <h3 class="card-title">{{'TITLE_ADD_FAQ' | translate}}</h3>
    </div>
    <div class="card-body">

        <!--Tabs-->
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link"
                               ng-class="{'active': editorTab == FaqDetailEditorTabsEnum.editor}"
                               href="javascript:void(0);"
                               ng-click="selectEditorTab(FaqDetailEditorTabsEnum.editor)">
                                {{'TITLE_EDITOR' | translate}}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="javascript:void(0);"
                               ng-class="{'active': editorTab == FaqDetailEditorTabsEnum.preview}"
                               ng-click="selectEditorTab(FaqDetailEditorTabsEnum.preview)">
                                {{'TITLE_PREVIEW' | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Current tab: Editor-->
        <div ng-if="editorTab == FaqDetailEditorTabsEnum.editor">
            <!--Category-->
            <div class="row">
                <div class="col-12">
                    <b>{{'TITLE_CATEGORY' | translate}}</b>
                    <div class="form-group">

                        <!--In add mode-->
                        <input name="category"
                               class="form-control"
                               ng-model="faqModel.category"
                               ng-required="true">

                    </div>
                </div>
            </div>

            <!--Question-->
            <div class="row">
                <div class="col-12">
                    <b>{{'TITLE_QUESTION' | translate}}</b>
                    <div class="form-group"
                         ng-switch="faqModel.isHtmlQuestion">

                        <!--Question HTML editor-->
                        <textarea name="question"
                                  ui-tinymce="tinymceOptions"
                                  ng-model="faqModel.question"
                                  ng-switch-when="true"
                                  ng-required="true"></textarea>

                        <!--Question plain editor-->
                        <textarea name="question"
                                  class="form-control"
                                  ng-model="faqModel.question"
                                  rows="3"
                                  ng-switch-default=""
                                  ng-required="true"></textarea>

                    </div>

                    <!--Is html question-->
                    <div class="form-group">
                        <input id="isHtmlQuestion"
                               name="isHtmlQuestion"
                               type="checkbox"
                               ng-model="faqModel.isHtmlQuestion" ng-true-value="true"> <label for="isHtmlQuestion">{{'TITLE_IS_HTML'
                        | translate}}</label>
                    </div>
                </div>
            </div>

            <!--Answer-->
            <div class="row">
                <div class="col-12">
                    <b>{{'TITLE_ANSWER' | translate}}</b>
                    <div class="form-group">

                        <!--Question HTML editor-->
                        <textarea name="answer"
                                  ng-if="faqModel.isHtmlAnswer"
                                  ui-tinymce="tinymceOptions"
                                  ng-model="faqModel.answer"
                                  ng-required="true"></textarea>

                        <!--Question plain editor-->
                        <textarea name="answer"
                                  ng-if="!faqModel.isHtmlAnswer"
                                  class="form-control"
                                  ng-model="faqModel.answer"
                                  rows="3"
                                  ng-required="true"></textarea>

                    </div>

                    <!--Is html answer-->
                    <div class="form-group">
                        <input id="isHtmlAnswer"
                               name="isHtmlAnswer"
                               type="checkbox"
                               ng-model="faqModel.isHtmlAnswer"
                               ng-true-value="true"> <label for="isHtmlAnswer">{{'TITLE_IS_HTML' |
                        translate}}</label>
                    </div>
                </div>
            </div>
        </div>

        <!--Current tab: Preview-->
        <div ng-if="editorTab == FaqDetailEditorTabsEnum.preview">
            <div class="row">
                <div class="col-12">

                    <table class="table">
                        <tbody>
                        <tr>
                            <th style="width: 120px">{{'TITLE_CATEGORY' | translate}}</th>
                            <td>{{faqModel.category}}</td>
                        </tr>
                        <tr>
                            <th style="width: 120px">{{'TITLE_QUESTION' | translate}}</th>
                            <td ng-switch="faqModel.isHtmlQuestion">
                                <div ng-switch-when="true"
                                     ng-bind-html="faqModel.question">
                                </div>

                                <div ng-switch-default="">
                                    {{faqModel.question}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 120px">{{'TITLE_ANSWER' | translate}}</th>
                            <td ng-switch="faqModel.isHtmlAnswer">
                                <div ng-switch-when="true"
                                     ng-bind-html="faqModel.answer">
                                </div>

                                <div ng-switch-default="">
                                    {{faqModel.answer}}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-outline-primary"
                        ng-click="clickOk(faqForm)"
                        ng-disabled="faqForm.$invalid || !faqForm.$dirty">
                    {{'TITLE_ADD' | translate}}
                </button>

                <button class="btn btn-outline-secondary"
                        ng-click="clickCancel()">
                    {{'TITLE_CANCEL' | translate}}
                </button>
            </div>
        </div>
    </div>
</form>
