<div class="card card-default">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <ul>
                        <li>Username</li>
                        <li>Email</li>
                        <li>Full name</li>
                        <li>Authentication provider</li>
                        <li>Phone no</li>
                        <li>Roles</li>
                        <li>Address</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="pull-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-secondary">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary">
                            <i class="fa fa-upload"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="toolbar right bottom">
    <div class="text-right">
        <button class="btn btn-outline-primary" ng-click="clickAddCity()">
            <i class="fa fa-plus"></i>
        </button>

        <button class="btn btn-outline-info" ng-click="clickOpenCitiesFinderModal()">
            <i class="fa fa-search"></i>
        </button>

        <button class="btn btn-outline-secondary"
                ng-click="clickReloadCities(1)">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
</div>
