<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="max-width: 250px;"></th>
                        <th class="text-center">{{'TITLE_NAME' | translate}}</th>
                        <th class="text-center">{{'TITLE_CREATED_TIME' | translate}}</th>
                        <th class="text-center">{{'TITLE_LAST_MODIFIED_TIME' | translate}}</th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="shouldStickersDisplayed()"
                        ng-repeat="item in loadStickersResult.items"
                        class="text-middle text-center">
                        <td style="max-width: 250px;">
                            <img ng-src="{{item.photoUrl}}"
                                 class="img-fluid">
                        </td>
                        <td ng-switch="item.availability == masterItemAvailabilities.available">
                            <b ng-switch-when="true">
                                {{item.name}}
                            </b>
                            <del ng-switch-default>
                                {{item.name}}
                            </del>
                        </td>
                        <td>
                            <i>{{item.createdTime | amUtc | amDateFormat:'MM.DD.YYYY HH:mm:ss'}}</i>
                        </td>
                        <td>
                            <i ng-if="item.lastModifiedTime != null">{{item.lastModifiedTime | amUtc |
                                amDateFormat:'MM.DD.YYYY HH:mm:ss'}}</i>
                        </td>
                        <td class="text-center"
                            ng-switch="item.availability == masterItemAvailabilities.available">

                            <div class="form-group"
                                 ng-switch-when="true">
                                <button class="btn btn-outline-info"
                                        ng-click="clickEditSticker(item)">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </div>

                            <button class="btn btn-outline-danger"
                                    ng-click="clickDeleteSticker(item)">
                                <i class="fa fa-trash"></i>
                            </button>

                        </td>
                    </tr>
                    <tr ng-if="!shouldStickersDisplayed()">
                        <td class="text-center"
                            colspan="5">
                            <b class="text-danger">{{'MSG_NO_STICKER_AVAILABLE' | translate}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div class="d-flex justify-content-center">
                                <ul uib-pagination
                                    items-per-page="loadStickersCondition.pager.records"
                                    total-items="loadStickersResult.pager.totalRecords"
                                    ng-model="loadStickersCondition.pager.page"
                                    ng-change="clickReloadStickers()"></ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="toolbar right bottom">
    <div class="text-right">
        <button class="btn btn-outline-primary"
                ng-click="clickAddSticker()">
            <i class="fa fa-plus"></i>
        </button>

        <button class="btn btn-outline-secondary"
                ng-click="clickReloadStickers(1)">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
</div>
