<form class="card"
      novalidate
      name="addEditCityForm"
      ng-submit="$event.preventDefault()">

    <div class="modal-header"
         ng-switch="editorMode == editorModes.edit">
        <h3 class="modal-title">
            <span ng-switch-when="true">{{'TITLE_EDIT_CITY' | translate:{ name: initialDetailedCity.name} }}</span>
            <span ng-switch-default>{{'TITLE_ADD_CITY' | translate}}</span>
        </h3>
    </div>

    <div class="modal-body">
        <!--State-->
        <div class="row">
            <div class="col-12">
                <b>{{'TITLE_STATE_NAME' | translate}}</b>
                <div class="form-group">
                    <select ng-model="detailedCity.stateId"
                            ng-options="state.id as state.name for state in availableStates"
                            ng-required="true"
                            class="form-control">
                    </select>

                </div>
            </div>
        </div>

        <!--Name-->
        <div class="row">
            <div class="col-12">
                <b>{{'TITLE_CITY_NAME' | translate}}</b>
                <div class="form-group">

                    <input name="name"
                           class="form-control"
                           ng-model="detailedCity.name"
                           ng-required="true">

                </div>
            </div>
        </div>

        <!--Availability-->
        <div class="row">
            <div class="col-12">
                <b>{{'TITLE_AVAILABILITY' | translate}}</b>
                <div class="form-group">

                    <select class="form-control"
                            name="availability"
                            ng-model="detailedCity.availability"
                            ng-options="availability.value as availability.key | translate for availability in availabilities">
                    </select>

                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer justify-content-center">
        <button class="btn btn-outline-primary"
                ng-click="clickOk(addEditCityForm)"
                ng-disabled="addEditCityForm.$invalid || !addEditCityForm.$dirty">
            {{'TITLE_OK' | translate}}
        </button>

        <button class="btn btn-outline-secondary"
                ng-click="clickCancel()">
            {{'TITLE_CANCEL' | translate}}
        </button>
    </div>

</form>
